<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PharmacyContainer" connectionString="metadata=res://*/Data.Pharmacy.csdl|res://*/Data.Pharmacy.ssdl|res://*/Data.Pharmacy.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=PharmacyEF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>